*{
  font-family: Helvetica, Arial, sans-serif;
}

body{
  padding: 60px;
}

input{
  color: gray;
  font-size: 1.2rem;
  width: 100%;
}

input:focus{
  outline: none;
}

ol{
  padding: 0;
}

.card-grid{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.card{
  align-content: center;
  border: 1px solid gray;
  border-radius: 6px;
  margin: 10px;
  text-align: center;
  overflow: hidden;
  width: calc( 25% - 25px);
}
.card p{
  padding: 5px;
}

.card img{
  height: 170px;
  max-width: 100%;
}

@media screen and (max-width:990px){
  .card{
    width: calc( 50% - 25px);
  }
}

@media screen and (max-width:768px){
  .card{
    width: 100%;
  }
  .card img{
    height: auto;
  }
}